<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<link rel="icon" type="image/png" sizes="16x16" th:href="@{/images/logo/user-logo.png}">
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<title>[[${@environment.getProperty('forget_pwd_title')} ? ${@environment.getProperty('forget_pwd_title')} : 'User Management | Forget Password']]</title>

	 <!-- Third party CSS -->
	<link rel="stylesheet" type="text/css" th:href="@{/css/global/bootstrap.min.css}"/>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css"/>

	<!-- Own CSS -->
	<link rel="stylesheet" type="text/css" th:href="@{/css/forgetPassword.css}">
	
	<!-- Third party JS -->
	<script type="text/javascript"  th:src="@{/js/global/jquery-3.6.0.min.js}"></script>
	<script type="text/javascript" th:src="@{/js/global/bootstrap.min.js}"></script>
	
	<!-- Own JS -->
</head>

<body>
	<div class="container pt-5">
		<div class="row pt-5">
			<div class="col-md-6 pr-5">
				<img class="forgotpassword-image" th:src="@{/images/login/forgotpassword.png}" alt="forgotpassword">
			</div>
			<div class="col-md-6 col-md-offset-4 p-5">
				<div class="panel panel-default p-5">
					<div class="panel-body">
					
						<!-- Valid mail msg -->
						<div th:if="${emailIsVaildMsg} != null"
							class="alert alert-success alert-dismissible fade show" role="alert">
							<strong th:text="${emailIsVaildMsg} "></strong>
							<button type="button" class="close" data-dismiss="alert" aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
						</div>

						<!-- Invalid mail msg -->
						<div th:if="${emailIsNotVaildMsg} != null"
							class="alert alert-danger alert-dismissible fade show" role="alert">
							<strong th:text="${emailIsNotVaildMsg} "></strong>
							<button type="button" class="close" data-dismiss="alert" aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
						</div>
					
						<div class="text-center">
							<h3><i class="fa fa-lock fa-4x"></i></h3>
							<h2 class="text-center">[[${@environment.getProperty('forget_pwd_heading')} ? ${@environment.getProperty('forget_pwd_heading')} : 'Forgot Password?']]</h2>
							<p>[[${@environment.getProperty('forget_pwd_p')} ? ${@environment.getProperty('forget_pwd_p')} : 'You can reset your password here.']]</p>
							<div class="panel-body">
								<!--Form-->
								<form method="post" th:action="@{/forgetpassword}">
									
									<!--Email Id-->
									<div class="form-group">
										<div class="input-group">
											<span class="input-group-addon"><i
													class="glyphicon glyphicon-envelope color-blue"></i></span>
											<input id="email" name="emailId" placeholder="email address"
												class="form-control" type="email" required>
										</div>
									</div>
									<div class="form-group">
										<input class="btn btn-lg btn-primary btn-block"
											value="Reset Password" type="submit">
									</div>

									<div class="mt-4 text-center">
										<label>[[${@environment.getProperty('remember_pwd_title')} ? ${@environment.getProperty('remember_pwd_title')} : 'Remembered my password.']]</label>
										<a th:href="@{/login}">[[${@environment.getProperty('login_link')} ? ${@environment.getProperty('login_link')} : 'Login']]</a>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>