<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<link rel="icon" type="image/png" sizes="16x16" th:href="@{/images/logo/user-logo.png}">
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<title>[[${@environment.getProperty('login_title')} ? ${@environment.getProperty('login_title')} : 'User Management | Login']]</title>

	 <!-- Third party CSS -->
	<link rel="stylesheet" type="text/css" th:href="@{/css/global/bootstrap.min.css}">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css"/>

	<!-- Own CSS -->
	<link rel="stylesheet" type="text/css" th:href="@{/css/login/login.css}">
	
	<!-- Third party JS -->
	<script type="text/javascript"  th:src="@{/js/global/jquery-3.6.0.min.js}"></script>
	<script type="text/javascript" th:src="@{/js/global/bootstrap.min.js}"></script>
	
	<!-- Own JS -->

</head>

<body>
<section class="vh-100">
	<div class="container py-5 h-100">
		<div class="row d-flex align-items-center justify-content-center h-100">
			<div class="col-md-8 col-lg-7 col-xl-6">
				<img class="login_img" th:src="@{/images/login/login.png}" alt="login">
			</div>
			<div class="col-md-7 col-lg-5 col-xl-5 offset-xl-1 login_bord_div p-5">
				
				<!-- password changed successful msg -->
				<div th:if="${isPasswordChangedSuccessfully} !=null"
					class="alert alert-success alert-dismissible fade show" role="alert">
					<strong th:text="${isPasswordChangedSuccessfully} "></strong>
					<button type="button" class="close" data-dismiss="alert" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>

				<!-- Registration successful msg -->
				<div th:if="${registrationSuccessfulMsg} != null"
					class="alert alert-success alert-dismissible fade show" role="alert">
					<strong th:text="${registrationSuccessfulMsg} "></strong>
					<button type="button" class="close" data-dismiss="alert" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>

				<!--Logout successfully -->
				<div th:if="${param.logout}"
					class="alert alert-success alert-dismissible fade show" role="alert">
					<strong>[[${@environment.getProperty('logged_out_successfuly')} ? ${@environment.getProperty('logged_out_successfuly')} : 'You have logged out successfully']]</strong>
					<button type="button" class="close" data-dismiss="alert" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>

				<!-- Authentication failed -->
				<div th:if="${param.error}"
					class="alert alert-danger alert-dismissible fade show" role="alert">
					<strong>[[${@environment.getProperty('authentication_failed')} ? ${@environment.getProperty('authentication_failed')} : 'Authentication failed, Please try again']]</strong>
					<button type="button" class="close" data-dismiss="alert" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>

			  	<form method="POST" th:action="@{/login}">
					<!-- Email input -->
					<div class="form-outline mb-4">
						<label class="form-label" for="email">[[${@environment.getProperty('email_label')} ? ${@environment.getProperty('email_label')} : 'Email address']]</label>
				  		<input type="email" id="email" class="form-control" name="username" required autofocus/>
					</div>
	  
					<!-- Password input -->
					<div class="form-outline mb-4">
						<label class="form-label" for="password">[[${@environment.getProperty('password_label')} ? ${@environment.getProperty('password_label')} : 'Password']]</label>
					 	<input type="password" id="password" class="form-control" name="password" required/>
					</div>
	  
					<div class="d-flex justify-content-around align-items-center mb-4">
				  		<!-- Checkbox -->
				  		<div class="form-check">
							<input class="form-check-input" type="checkbox" value="" id="rememberMeCheck" checked />
							<label class="form-check-label" for="rememberMe"> [[${@environment.getProperty('remember_me_label')} ? ${@environment.getProperty('remember_me_label')} : 'Remember me']]</label>
				  		</div>
				  		<a th:href="@{/forgetpassword}">[[${@environment.getProperty('forget_password_link')} ? ${@environment.getProperty('forget_password_link')} : 'Forgot password?']]</a>
					</div>
	  
					<!-- Submit button -->
					<button type="submit" class="btn btn-primary btn-lg btn-block">[[${@environment.getProperty('login_btn')} ? ${@environment.getProperty('login_btn')} : 'Login']]</button>
					
					<!-- Registration -->
					<div class="mt-4 text-center">
						<label for="dont_have_acc">[[${@environment.getProperty('dont_have_acc_label')} ? ${@environment.getProperty('dont_have_acc_label')} : 'Do not have an account?']]</label>
						<a th:href="@{/registration}">[[${@environment.getProperty('signup_link')} ? ${@environment.getProperty('signup_link')} : 'SignUp']]</a>
					</div>
			  	</form>
			  	
			</div>
		</div>
	</div>
</section>
</body>

</html>