<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<link rel="icon" type="image/png" sizes="16x16" th:href="@{/images/logo/user-logo.png}">
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<title th:if="${roleDTO == null}">[[${@environment.getProperty('add_role_title')} ? ${@environment.getProperty('add_role_title')} : 'User Management | Add Role']]</title>
	<title th:unless="${roleDTO == null}">[[${@environment.getProperty('edit_role_title')} ? ${@environment.getProperty('edit_role_title')} : 'User Management | Edit Role']]</title>
	
	<!-- Third party CSS -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css"/>

	<!-- Own CSS -->
	<link rel="stylesheet" type="text/css" th:href="@{/css/global/global.css}"/>
	<link rel="stylesheet" type="text/css" th:href="@{/css/role/add_role.css}"/>
		
	<!-- Third party JS -->
	<script type="text/javascript"  th:src="@{/js/global/jquery-3.6.0.min.js}"></script>
	<script type="text/javascript" th:src="@{/js/global/bootstrap.min.js}"></script>
	<script type="text/javascript" th:src="@{/js/global/sweetalert2.all.min.js}"></script>
	
	<!-- Own JS -->
</head>

<body>
	<div th:insert="/ui/fragments/header :: menu"></div>
	
	<div id="loadingMask">
        <img th:src="@{/images/global/load_mask.gif}" alt="Loading..." />
    </div>
	
	<div class="container-fluid main_body_div">
		<form method="POST" th:action="@{/client/role/add}" th:object=${roleDTO} id="addRoleForm">
			<div class="page_heading_div">[[${@environment.getProperty('add_role_heading')} ? ${@environment.getProperty('add_role_heading')} : 'Add Role']]</div>
			
			<div class="add_role_form_div">
	  			<div class="row">
					<div class="col-md-12">
	  					<div class="form-group">
	    					<label for="roleName" class="field_label">
	    						[[${@environment.getProperty('role_label')} ? ${@environment.getProperty('role_label')} : 'Role']] 
	    						<span class="required_field_spn">*</span>
	    					</label>
	    					<input type="text" class="form-control" id="roleName" th:value="${name}" th:name="name"/>
	    					<div class="validation_msg_text_color_div" id="roleValidationMsg"></div>
	  					</div>
	  				</div>
	  			</div>
	  			
	  			<div class="row">
					<div class="col-md-12">
	  					<div class="form-group">
	    					<label for="permissions" class="field_label">
	    						[[${@environment.getProperty('permissions_label')} ? ${@environment.getProperty('permissions_label')} : 'Permissions']] 
	    						<span class="required_field_spn">*</span>
	    					</label>
	    					
	    					<div class="form-check" th:each="permission : ${permissionList}" th:if="${permissions == null}">
        						<input class="form-check-input" type="checkbox" th:text="${permission.name}" th:value="${permission.id}" th:name="permissions"/>
      						</div>

	    					<div class="form-check" th:each="permission : ${permissionList}" th:unless="${permissions == null}">
        						<input class="form-check-input" type="checkbox" th:text="${permission.name}" th:value="${permission.id}" 
        							th:checked="${permissions.contains(permission)}" th:name="permissions"/>
      						</div>
      						
      						<div class="validation_msg_text_color_div" id="permissionValidationMsg"></div>
      						
	  					</div>
	  				</div>
	  			</div>
	  			
	  			<div class="all_btns_div">
	  				<button type="button" class="btn btn-outline-secondary cancel_rest_btn" th:onclick="window.location.href='/client/role/list'">
	  					[[${@environment.getProperty('cancel_btn')} ? ${@environment.getProperty('cancel_btn')} : 'Cancel']]
	  				</button>
	  				<button type="button" class="btn btn-primary cust_btn" id="addRoleSubmitBtn">
	  					<i class="fa fa-plus-circle"></i>
	  					[[${@environment.getProperty('add_role_btn')} ? ${@environment.getProperty('add_role_btn')} : 'Add Role']]
	  				</button>
	  			</div>
	  			
	  		</div>
		</form>
	</div>
	
	<div th:insert="/ui/fragments/footer :: footer"></div>
</body>

<script th:inline="javascript">
	$(window).on('load', function () {
    	$("#loadingMask").hide(); 
 	});
	
	$(document).ready(function() {
		//Success and error message handle 
		var success = [[${success}]];
		var error = [[${error}]];
		
		if(success!=null) {
			Swal.fire({
				icon: 'success',
				title: 'Good Job!',
			  	text: success,
			  	confirmButtonColor: '#563D7C'
			}).then(function() {
				$("#loadingMask").show(); 
				window.location = "/client/role/list";
			});
		}
		
		if(error!=null) {
			Swal.fire({
				icon: 'error',
				title: 'Error!',
			  	text: error,
			  	confirmButtonColor: '#563D7C'
			}).then(function() {
				$("#loadingMask").show(); 
				window.location = "/client/role/list";
			});
		}
		
		//Form submission validation code
		$('#addRoleSubmitBtn').click(function(){
			console.log("Clicked");
			$("#addRoleForm").submit();
		});
		
	});
</script>

</html>