<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<link rel="icon" type="image/png" sizes="16x16" th:href="@{/images/logo/user-logo.png}">
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<title>[[${@environment.getProperty('role_list_title')} ? ${@environment.getProperty('role_list_title')} : 'User Management | Role List']]</title>
	
	<!-- Third party CSS -->
	<link rel="stylesheet" type="text/css" th:href="@{/css/global/bootstrap.min.css}"/>
	<link rel="stylesheet" type="text/css" th:href="@{/css/global/sweetalert2.min.css}"/>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css"/>

	<!-- Own CSS -->
	<link rel="stylesheet" type="text/css" th:href="@{/css/fragments/header.css}"/>
	<link rel="stylesheet" type="text/css" th:href="@{/css/fragments/footer.css}"/>
	<link rel="stylesheet" type="text/css" th:href="@{/css/global/loading_mask.css}"/>
	<link rel="stylesheet" type="text/css" th:href="@{/css/global/global.css}"/>
	
	<!-- Third party JS -->
	<script type="text/javascript"  th:src="@{/js/global/jquery-3.6.0.min.js}"></script>
	<script type="text/javascript" th:src="@{/js/global/bootstrap.min.js}"></script>
	<script type="text/javascript" th:src="@{/js/global/sweetalert2.all.min.js}"></script>
	
	<!-- Own JS -->
</head>

<body>
	<div th:insert="/ui/fragments/header :: menu"></div>
	
	<div id="loadingMask">
        <img th:src="@{/images/global/load_mask.gif}" alt="Loading..." />
    </div>
    
	<div class="container-fluid main_body_div">
		<div class="row justify-content-end pt-3 pr-5">
			<a class="btn btn-primary cust_btn" th:href="@{/client/role/add}">Add Role</a>
		</div>
	</div>
	
	<div th:insert="/ui/fragments/footer :: footer"></div>
</body>

<script th:inline="javascript">
	$(window).on('load', function () {
    	$("#loadingMask").hide(); 
 	});
</script>

</html>