<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<body>
	<footer class="text-center footer" th:fragment="footer">
		<div class="social_media_links_div">
			<a class="btn btn-link btn-floating btn-lg text-dark m-1" href="#!">
				<i class="fa fa-facebook-f"></i>
			</a>

			<a class="btn btn-link btn-floating btn-lg text-dark m-1" href="#!">
				<i class="fa fa-twitter"></i>
			</a>

			<a class="btn btn-link btn-floating btn-lg text-dark m-1" href="#!">
				<i class="fa fa-google"></i>
			</a>

			<a class="btn btn-link btn-floating btn-lg text-dark m-1" href="#!">
				<i class="fa fa-instagram"></i>
			</a>

			<a class="btn btn-link btn-floating btn-lg text-dark m-1" href="#!">
				<i class="fa fa-linkedin"></i>
			</a>
		
			<a class="btn btn-link btn-floating btn-lg text-dark m-1" href="#!">
				<i class="fa fa-github"></i>
			</a>
		</div>
		
		<div class="text-center bg-dark text-white p-3">
			&copy; [[${@environment.getProperty('copy_right_reserved')} ? ${@environment.getProperty('copy_right_reserved')} : '2023. WebTech Solution. All Rights Reserved.']]
		</div>
	</footer>
</body>

</html>