<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<body>
	<nav class="navbar navbar-expand-lg overflow-hidden" th:fragment="menu">
		<img alt="header logo" class="header_log"
			th:src="@{/images/logo/user-logo.png}"></img>

		<div class="collapse navbar-collapse" id="navbarNav">
			<ul class="navbar-nav justify-content-end" style='flex: auto;'>
				<li class="nav-item active">
					<a class="nav-link" th:href="@{/client/user/dashboard}">Dashboard</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#">Action 2</a>
				</li>
				<li class="nav-item dropdown">
       				<a class="nav-link dropdown-toggle" href="#" role="button" 
       					data-toggle="dropdown" aria-expanded="false">
         				Administration
       				</a>
       				<ul class="dropdown-menu">
         					<li><a class="dropdown-item" th:href="@{/client/user/list}">Users</a></li>
         					<li><a class="dropdown-item" th:href="@{/client/role/list}">Roles</a></li>
       				</ul>
     			</li>
				<li class="nav-item">
					<a class="nav-link" href="mailto:support@webtechsolution.com">Contact Us</a>
				</li>
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="#" role="button"
						data-toggle="dropdown" aria-expanded="false"> 
						<i class="fa fa-user-circle-o user-profile"></i>
					</a>
					<ul class="dropdown-menu dropdown-menu-end">
						<li><a class="dropdown-item" th:href="@{/client/user/edit-profile}">Edit Profile</a></li>
						<li><a class="dropdown-item" href="#">Settings</a></li>
						<li><a class="dropdown-item" th:href="@{/logout}">Logout</a></li>
					</ul>
				</li>
			</ul>
		</div>
	</nav>
	
</body>
</html>