<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<!-- CSS -->
	<link rel="stylesheet" type="text/css" th:href="@{/datatable/css/jquery.dataTables.min.css}">
	<link rel="stylesheet" type="text/css" th:href="@{/datatable/css/dataTables.bootstrap4.min.css}">
	<link rel="stylesheet" type="text/css" th:href="@{/datatable/css/searchPanes.bootstrap4.css}">
	<link rel="stylesheet" type="text/css" th:href="@{/datatable/css/select.bootstrap4.css}">
	
	<!-- JS -->
	<script type="text/javascript" th:src="@{/datatable/js/jquery.dataTables.min.js}"></script>
	<script type="text/javascript" th:src="@{/datatable/js/dataTables.bootstrap4.min.js}"></script>
	<script type="text/javascript" th:src="@{/datatable/js/jquery.spring-friendly.min.js}"></script>
	<script type="text/javascript" th:src="@{/datatable/js/dataTables.searchPanes.min.js}"></script>
	<script type="text/javascript" th:src="@{/datatable/js/searchPanes.bootstrap4.min.js}"></script>
	<script type="text/javascript" th:src="@{/datatable/js/dataTables.select.min.js}"></script>
	<script type="text/javascript" th:src="@{/datatable/js/select.bootstrap4.min.js}"></script>
</html>