<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<link rel="icon" type="image/x-icon" th:href="@{/images/logo/favicon.ico}"/>
	<title>[[${@environment.getProperty('change_pwd_title')} ? ${@environment.getProperty('change_pwd_title')} : 'Change Password']]</title>
	
	<!-- Own CSS -->
	<link rel="stylesheet" type="text/css" th:href="@{/css/global/global.css}">
	
	<!-- Third party JS -->
	<script type="text/javascript"  th:src="@{/js/global/jquery-3.6.0.min.js}"></script>
	<script type="text/javascript" th:src="@{/js/global/bootstrap.min.js}"></script>
	
	<!-- Own JS -->
	
</head>

<body class="bg-gradient-primary">

	<div class="container">
		<!-- Outer Row -->
		<div class="row justify-content-center">
			<div class="col-xl-10 col-lg-12 col-md-9">
				<div class="card o-hidden border-0 shadow-lg my-5">
					<div class="card-body p-0">
						<div class="row">
							<div class="col-lg-6 d-none d-lg-block bg-form-image">
								<img class="forgot_password_img"
									th:src="@{/images/authentication/changepassword.png}"
									alt="forgotpassword">
							</div>
							<div class="col-lg-6">
								<div class="p-5">
									<div class="text-center mb-4 mt-4">
										<h1 class="h4 text-gray-900 mb-2">[[${@environment.getProperty('change_pwd_heading')}
											? ${@environment.getProperty('change_pwd_heading')} : 'Change
											Your Password']]</h1>
									</div>
									<form class="user" method="POST"
										th:action="@{/change-password}">
										<div class="form-group">
											<input type="text" class="form-control form-control-user"
												id="exampleInputPassword" th:value="${oldPassword}"
												th:name="oldPassword" placeholder="Enter your old password"
												disabled>
										</div>
										<div class="form-group">
											<input type="password" class="form-control form-control-user"
												id="exampleInputPassword" th:name="newPassword"
												placeholder="Enter your new password">
										</div>
										<div class="form-group">
											<input type="password" class="form-control form-control-user"
												id="exampleInputConfirmPassword"
												placeholder="Confirm your new password">
										</div>
										<button type="submit"
											class="btn btn-primary btn-user btn-block">
											[[${@environment.getProperty('update_password_btn')} ?
											${@environment.getProperty('update_password_btn')} : 'Update
											Password']]</button>
									</form>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	
</body>

</html>