<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<link rel="icon" type="image/x-icon" th:href="@{/images/logo/favicon.ico}"/>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<title>[[${@environment.getProperty('welcome_home')} ? ${@environment.getProperty('welcome_home')} : 'Welcome to Organizo']]</title>
	
	<!-- Third party CSS -->
	<link rel="stylesheet" type="text/css" th:href="@{/vendors/swiper/swiper-bundle.min.css}">
	
	<!-- Own CSS -->
	<link rel="stylesheet" type="text/css" th:href="@{/css/global/global.css}">
	<link rel="stylesheet" type="text/css" th:href="@{/css/index.css}">
</head>

<body>
	<!-- ======= Header ======= -->
	<header id="header" class="header fixed-top">
		<div
			class="container-fluid container-xl d-flex align-items-center justify-content-between">

			<a th:href="@{/}" class="logo d-flex align-items-center"> <img
				th:src="@{/images/logo/logo.png}" alt=""> <span>Organizo</span>
			</a>

			<nav id="navbar" class="navbar">
				<ul>
					<li><a class="nav-link scrollto active" href="#hero">Home</a></li>
					<li><a class="nav-link scrollto" href="#services">Services</a></li>
					<li><a class="nav-link scrollto" href="#team">Team</a></li>
					<li><a class="getstarted scrollto" th:href="@{/login}">Login</a></li>
				</ul>
				<i class="bi bi-list mobile-nav-toggle"></i>
			</nav>
			<!-- .navbar -->

		</div>
	</header>
	<!-- End Header -->

	<!-- ======= Hero Section ======= -->
	<section id="hero" class="hero d-flex align-items-center">

		<div class="container">
			<div class="row">
				<div class="col-lg-6 d-flex flex-column justify-content-center">
					<h1>We offer modern solutions for Project Management</h1>
					<h2>We are team of talented developers build a side that will
						help to handle multiple sub organization with project and team.</h2>
					<div>
						<div class="text-center text-lg-start">
							<a th:href="@{/login}"
								class="btn-get-started scrollto d-inline-flex align-items-center justify-content-center align-self-center">
								<span>Get Started</span> <i class="bi bi-arrow-right"></i>
							</a>
						</div>
					</div>
				</div>
				<div class="col-lg-6 hero-img">
					<img th:src="@{/images/index/scrum-board.png}" class="img-fluid" alt="">
				</div>
			</div>
		</div>

	</section>
	<!-- End Hero -->

	<main id="main">
		<!-- ======= Services Section ======= -->
		<section id="services" class="services">

			<div class="container">

				<header class="section-header">
					<h2>Services</h2>
					<p>Veritatis et dolores facere numquam et praesentium</p>
				</header>

				<div class="row gy-4">

					<div class="col-lg-4 col-md-6">
						<div class="service-box blue">
							<h3>Nesciunt Mete</h3>
							<p>Provident nihil minus qui consequatur non omnis maiores.
								Eos accusantium minus dolores iure perferendis tempore et
								consequatur.</p>
						</div>
					</div>

					<div class="col-lg-4 col-md-6">
						<div class="service-box orange">
							<h3>Eosle Commodi</h3>
							<p>Ut autem aut autem non a. Sint sint sit facilis nam iusto
								sint. Libero corrupti neque eum hic non ut nesciunt dolorem.</p>
						</div>
					</div>

					<div class="col-lg-4 col-md-6">
						<div class="service-box green">
							<h3>Ledo Markt</h3>
							<p>Ut excepturi voluptatem nisi sed. Quidem fuga consequatur.
								Minus ea aut. Vel qui id voluptas adipisci eos earum corrupti.</p>
						</div>
					</div>

					<div class="col-lg-4 col-md-6">
						<div class="service-box red">
							<h3>Asperiores Commodi</h3>
							<p>Non et temporibus minus omnis sed dolor esse consequatur.
								Cupiditate sed error ea fuga sit provident adipisci neque.</p>
						</div>
					</div>

					<div class="col-lg-4 col-md-6">
						<div class="service-box purple">
							<h3>Velit Doloremque.</h3>
							<p>Cumque et suscipit saepe. Est maiores autem enim facilis
								ut aut ipsam corporis aut. Sed animi at autem alias eius labore.</p>
						</div>
					</div>

					<div class="col-lg-4 col-md-6">
						<div class="service-box pink">
							<h3>Dolori Architecto</h3>
							<p>Hic molestias ea quibusdam eos. Fugiat enim doloremque aut
								neque non et debitis iure. Corrupti recusandae ducimus enim.</p>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- End Services Section -->

		<!-- ======= Team Section ======= -->
		<section id="team" class="team">
			<div class="container">
				<header class="section-header">
					<h2>Team</h2>
					<p>Our hard working team</p>
				</header>

				<div class="row gy-4">

					<div class="col-lg-3 col-md-6 d-flex align-items-stretch">
						<div class="member">
							<div class="member-img">
								<img th:src="@{/images/index/team/team-1.jpg}" class="img-fluid" alt="">
								<div class="social">
									<a href=""><i class="bi bi-twitter"></i></a> <a href=""><i
										class="bi bi-facebook"></i></a> <a href=""><i
										class="bi bi-instagram"></i></a> <a href=""><i
										class="bi bi-linkedin"></i></a>
								</div>
							</div>
							<div class="member-info">
								<h4>Walter White</h4>
								<span>Chief Executive Officer</span>
								<p>Velit aut quia fugit et et. Dolorum ea voluptate vel
									tempore tenetur ipsa quae aut. Ipsum exercitationem iure minima
									enim corporis et voluptate.</p>
							</div>
						</div>
					</div>

					<div class="col-lg-3 col-md-6 d-flex align-items-stretch">
						<div class="member">
							<div class="member-img">
								<img th:src="@{/images/index/team/team-2.jpg}" class="img-fluid" alt="">
								<div class="social">
									<a href=""><i class="bi bi-twitter"></i></a> <a href=""><i
										class="bi bi-facebook"></i></a> <a href=""><i
										class="bi bi-instagram"></i></a> <a href=""><i
										class="bi bi-linkedin"></i></a>
								</div>
							</div>
							<div class="member-info">
								<h4>Sarah Jhonson</h4>
								<span>Product Manager</span>
								<p>Quo esse repellendus quia id. Est eum et accusantium
									pariatur fugit nihil minima suscipit corporis. Voluptate sed
									quas reiciendis animi neque sapiente.</p>
							</div>
						</div>
					</div>

					<div class="col-lg-3 col-md-6 d-flex align-items-stretch">
						<div class="member">
							<div class="member-img">
								<img th:src="@{/images/index/team/team-3.jpg}" class="img-fluid" alt="">
								<div class="social">
									<a href=""><i class="bi bi-twitter"></i></a> <a href=""><i
										class="bi bi-facebook"></i></a> <a href=""><i
										class="bi bi-instagram"></i></a> <a href=""><i
										class="bi bi-linkedin"></i></a>
								</div>
							</div>
							<div class="member-info">
								<h4>William Anderson</h4>
								<span>CTO</span>
								<p>Vero omnis enim consequatur. Voluptas consectetur unde
									qui molestiae deserunt. Voluptates enim aut architecto porro
									aspernatur molestiae modi.</p>
							</div>
						</div>
					</div>

					<div class="col-lg-3 col-md-6 d-flex align-items-stretch">
						<div class="member">
							<div class="member-img">
								<img th:src="@{/images/index/team/team-4.jpg}" class="img-fluid" alt="">
								<div class="social">
									<a href=""><i class="bi bi-twitter"></i></a> <a href=""><i
										class="bi bi-facebook"></i></a> <a href=""><i
										class="bi bi-instagram"></i></a> <a href=""><i
										class="bi bi-linkedin"></i></a>
								</div>
							</div>
							<div class="member-info">
								<h4>Amanda Jepson</h4>
								<span>Accountant</span>
								<p>Rerum voluptate non adipisci animi distinctio et deserunt
									amet voluptas. Quia aut aliquid doloremque ut possimus ipsum
									officia.</p>
							</div>
						</div>
					</div>

				</div>

			</div>

		</section>
		<!-- End Team Section -->

		<!-- ======= Clients Section ======= -->
		<section id="clients" class="clients">

			<div class="container">

				<header class="section-header">
					<h2>Our Clients</h2>
					<p>Temporibus omnis officia</p>
				</header>

				<div class="clients-slider swiper">
					<div class="swiper-wrapper align-items-center">
						<div class="swiper-slide">
							<img th:src="@{/images/index/clients/client-1.png}" class="img-fluid"
								alt="">
						</div>
						<div class="swiper-slide">
							<img th:src="@{/images/index/clients/client-2.png}"class="img-fluid"
								alt="">
						</div>
						<div class="swiper-slide">
							<img th:src="@{/images/index/clients/client-3.png}" class="img-fluid"
								alt="">
						</div>
						<div class="swiper-slide">
							<img th:src="@{/images/index/clients/client-4.png}" class="img-fluid"
								alt="">
						</div>
						<div class="swiper-slide">
							<img th:src="@{/images/index/clients/client-5.png}" class="img-fluid"
								alt="">
						</div>
						<div class="swiper-slide">
							<img th:src="@{/images/index/clients/client-6.png}" class="img-fluid"
								alt="">
						</div>
						<div class="swiper-slide">
							<img th:src="@{/images/index/clients/client-7.png}" class="img-fluid"
								alt="">
						</div>
						<div class="swiper-slide">
							<img th:src="@{/images/index/clients/client-8.png}" class="img-fluid"
								alt="">
						</div>
					</div>
					<div class="swiper-pagination"></div>
				</div>
			</div>

		</section>
		<!-- End Clients Section -->

	</main>
	<!-- End #main -->

	<!-- ======= Footer ======= -->
	<footer id="footer" class="footer">

		<div class="copyright">
			&copy; Copyright <strong><span>Organizo</span></strong>. All Rights
			Reserved
		</div>

	</footer>
	<!-- End Footer -->

	<a href="#"
		class="back-to-top d-flex align-items-center justify-content-center"><i
		class="bi bi-arrow-up-short"></i></a>
	
	<!-- Third party JS -->
	<script type="text/javascript" th:src="@{/js/global/bootstrap.bundle.min.js}"></script>
	<script type="text/javascript" th:src="@{/vendors/swiper/swiper-bundle.min.js}"></script>
	
	<!-- Own JS -->
	<script type="text/javascript" th:src="@{/js/index.js}"></script>
</body>

</html>