<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<link rel="icon" type="image/x-icon" th:href="@{/images/logo/favicon.ico}"/>
	<title>[[${@environment.getProperty('reset_pwd_title')} ? ${@environment.getProperty('reset_pwd_title')} : 'Reset Password']]</title>

	<!-- Own CSS -->
	<link rel="stylesheet" type="text/css" th:href="@{/css/global/global.css}">
	<link rel="stylesheet" type="text/css" th:href="@{/css/authentication/authentication.css}">
</head>

<body>
	<main>
		<div class="container">
			<section
				class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4">
				<div class="container">
					<div class="row justify-content-center">
						<div
							class="col-lg-4 col-md-6 d-flex flex-column align-items-center justify-content-center">

							<div class="d-flex justify-content-center py-4">
								<a th:href="@{/}" class="logo d-flex align-items-center w-auto">
									<img th:src="@{/images/logo/logo.png}" alt=""> <span
									class="d-none d-lg-block">[[${@environment.getProperty('domain_name')}
										? ${@environment.getProperty('domain_name')} : 'Organizo']]</span>
								</a>
							</div>
							<!-- End Logo -->

							<div class="card mb-3">

								<div class="card-body">

									<div class="pt-4 pb-2">
										<h5 class="card-title text-center pb-0 fs-4">[[${@environment.getProperty('reset_pwd_heading')}
											? ${@environment.getProperty('reset_pwd_heading')} : 'Reset
											Your Password?']]</h5>
										<p class="text-center small">[[${@environment.getProperty('reset_pwd_description')}
											? ${@environment.getProperty('reset_pwd_description')} :
											'Please enter your new password below to complete the reset
											process']]</p>
									</div>

									<div th:if="${success} != null"
										class="alert alert-success alert-dismissible">
										<button type="button" class="btn-close"
											data-bs-dismiss="alert"></button>
										<span th:text="${success} "></span>
									</div>

									<div th:if="${error} != null"
										class="alert alert-danger alert-dismissible">
										<button type="button" class="btn-close"
											data-bs-dismiss="alert"></button>
										<span th:text="${error} "></span>
									</div>

									<form method="POST" th:action="@{/reset-password}"
										class="row g-3 needs-validation" novalidate>
										<input type="hidden" th:name="code" th:value="${code}" />
										<div class="col-12">
											<label for="password" class="form-label">[[${@environment.getProperty('password_label')}
												? ${@environment.getProperty('password_label')} :
												'Password']]</label>
											<div class="input-group has-validation">
												<input type="password" th:name="newPassword"
													class="form-control" id="password" required>
												<div class="invalid-feedback">[[${@environment.getProperty('password_required_msg')}
													? ${@environment.getProperty('password_required_msg')} :
													'Please enter your password!']]</div>
											</div>
										</div>

										<div class="col-12">
											<label for="confirmPassword" class="form-label">[[${@environment.getProperty('confirm_password_label')}
												? ${@environment.getProperty('confirm_password_label')} :
												'Confirm Password']]</label>
											<div class="input-group has-validation">
												<input type="password" name="confirmPassword"
													class="form-control" id="confirmPassword" required>
												<div class="invalid-feedback">[[${@environment.getProperty('confirm_pwd_required_msg')}
													? ${@environment.getProperty('confirm_pwd_required_msg')} :
													'Please enter your confirm password!']]</div>
											</div>
										</div>

										<div class="col-12">
											<button class="btn btn-primary w-100" type="submit">
												[[${@environment.getProperty('change_password_btn')} ?
												${@environment.getProperty('change_password_btn')} : 'Change
												Password']]</button>
										</div>

										<div class="col-12 text-center">
											<p class="small mb-0">
												[[${@environment.getProperty('recall_old_pwd_p')} ?
												${@environment.getProperty('recall_old_pwd_p')} : 'Recall
												your old password?']] <a th:href="@{/login}">[[${@environment.getProperty('login_link')}
													? ${@environment.getProperty('login_link')} : 'Login']]</a>
											</p>
										</div>
									</form>

								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
		</div>
	</main>

	<!-- Third party JS -->
	<script type="text/javascript" th:src="@{/js/global/bootstrap.bundle.min.js}"></script>
	<script type="text/javascript" th:src="@{/vendors/tinymce/tinymce.min.js}"></script>
	
	<!-- Own JS -->
	<script type="text/javascript" th:src="@{/js/global/tinymce-enable.js}"></script>
</body>

</html>