nav.navbar.navbar-expand-lg {
	background: #563D7C !important;
	padding: 10px 15px 0px 15px;
}

ul.navbar-nav.flex.justify-content-end {
    flex: auto !important;
}

.header_log {
	width: 50px;
}

a.nav-link {
    color: white !important;
}

li.nav-item.active {
    border-bottom: 4px solid #b638e8;
}

ul.dropdown-menu.dropdown-menu-end.show {
    left: -80px !important;
    top: 45px;
    background: #563D7C;
}

ul.dropdown-menu.show {
    top: 45px;
    background: #563D7C;
}

li.nav-item {
    padding: 0px 10px;
}

a.dropdown-item {
    color: white;
}

.user-profile {
	font-size: 20px;
}